
/*
     --color-white: #fff;
    --color-orange: #fea609;
    --color-darkslategray: #323846;
    --color-gray: #151925;
 */ 

 
 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,900&dispaly=swap");


:root{
    --orange:#ff6347;
    --dark-color:#ff4508;
    --black:black ; 
    --light-color:black;
    --border-hover:1rem solid var(--black);
    --border:0.1rem solid rgba(0,0,0,0.1);
    --box-shadow: 0 0.5rem 1rem Orgba(0,0,0,0.1);

}


*{
    font-family: 'Poppins', sans-serif;
    padding: 0; 
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    transition: width none;
    box-sizing: border-box;    
}

.name{
  color: #fea609;
  font-size: 25px;
  margin-left:25px;
}

nav{
  display: flex;
  width: 100%;
  color: white;
  background-color: #151925;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color:white;
  margin-right: 20px;
  background-color:  #151925;
  font-weight: 400;
  font-size: 18px;
}

nav ul li a:hover{
  color:#fea609; 
}

.header{
  background: #151925;
  width:100%;
  height:740px;
}

.home{
  margin-left: 50px;
  position: relative;
}

.home-content{
  display:flex;
}

.heading{
  position: relative;
  color:white;
  font-size: 60px;
  margin-top:120px;
  font-weight: 530;
  font-family:'Times New Roman', Times, serif;
}

.portfolio{
  position: relative;
  color:#fea609;
  font-size: 22px;
  margin-top:5px;
  font-weight: 550;
  font-family:'Times New Roman', Times, serif;
}

.bio{
  position: relative;
  color:white;
  font-size: 18px;
  margin-top:20px;
  font-family:'Times New Roman', Times, serif;
}

button{
  width:170px;
  font-size: 17px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}

.btn{
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}




.img-box img{
  position: relative;
  border-radius:50%;
  width:340px;
  height: 340px;
  float:right;
  margin-top: 150px;
  margin-left: 370px;
  border-radius:5500px;
  box-shadow: 0 0 37px  30px #fea609;
  box-shadow: #fea609;


}


