
/*
     --color-white: #fff;
    --color-orange: #fea609;
    --color-darkslategray: #323846;
    --color-gray: #151925;
 */ 

 
 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,900&dispaly=swap");


:root{
    --orange:#ff6347;
    --dark-color:#ff4508;
    --black:black ; 
    --light-color:black;
    --border-hover:1rem solid var(--black);
    --border:0.1rem solid rgba(0,0,0,0.1);
    --box-shadow: 0 0.5rem 1rem Orgba(0,0,0,0.1);

}


*{
    font-family: 'Poppins', sans-serif;
    padding: 0; 
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    transition: width none;
    box-sizing: border-box;    
}

.name{
  color: #fea609;
  font-size: 25px;
  margin-left:25px;
}

nav{
  display: flex;
  position: fixed;
  width: 100%;
  color: white;
  background-color: #151925;
  margin: auto;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color:white;
  margin-right: 20px;
  background-color:  #151925;
  font-weight: 400;
  font-size: 18px;
}

nav ul li a:hover{
  color:#fea609; 
}

.hamburger{
  position: relative;
  width:35px;
  height: 4px;
  background: white;
  border-radius: 10px;
  cursor:pointer;
  z-index:2;
  transition:0.3s;
}

.hamburger:before,
.hamburger:after{
  content:"";
  position: absolute;
  height: 4px;
  right:0;
  background: white;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before{
  top:-10px;
  width:20px;
}

.hamburger:after{
  top:10px;
  width: 25px;
}

.toggle-menu{
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu{
  display: none;
}

nav input:checked ~ .hamburger{
  background: transparent;
}


nav input:checked ~ .hamburger:before{
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

nav input:checked ~ .hamburger:after{
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

nav input:checked ~ ul{
  right: 0;
}



.header{
  background: #151925;
  width:100%;
  height:800px;
}

.home{
  margin-left: 50px;
  position: relative;
}

.home-content{
  display:flex;
}

.heading{
  position: relative;
  color:white;
  font-size: 60px;
  margin-top:210px;
  font-weight: 530;
  font-family:'Times New Roman', Times, serif;
}

.portfolio{
  position: relative;
  color:#fea609;
  font-size: 22px;
  margin-top:5px;
  font-weight: 550;
  font-family:'Times New Roman', Times, serif;
}

.bio{
  position: relative;
  color:white;
  font-size: 18px;
  margin-top:20px;
  font-family:'Times New Roman', Times, serif;
  text-transform: none;
  line-height: 24px;
  text-align: justify;
}

button{
  width:170px;
  font-size: 17px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}

.btn{
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}

.img-box img{
  position: relative;
  border-radius:50%;
  width:340px;
  height: 340px;
  float:right;
  margin-top: 210px;
  margin-left: 370px;
  border-radius:5500px;
  box-shadow: 0 0 37px  30px #fea609;
  box-shadow: #fea609;
}

/* About */

.about-content{
  background:#323846;
  width:100%;
  height:740px;
  display: flex;
  margin-top: 200px;
}

.img-box1 img{
  position: relative;
  border-radius:50%;
  width:340px;
  height: 340px;
  float:left;
  margin-top: 160px;
  margin-left:110px;
  border-radius:5500px;
  border: 10px solid #fea609;
}

.about{
  float:right;
  margin-left: 180px;
  margin-top: 110px;
}

.about-me{
  font-size: 40px;
  color: white;
  font-family:'Times New Roman', Times, serif;
}


.about-me span{
  color: #fea609;
  font-family:'Times New Roman', Times, serif;
}

.tag{
  font-size: 26px;
  font-family:'Times New Roman', Times, serif;
  color: white;
  margin-top: 12px;
}

.description{
  font-size: 20px;
  margin-top: 40px;
  font-family:'Times New Roman', Times, serif;
  color: white;
  line-height: 30px;
  text-align: justify;
  justify-content: space-between;
  margin-right: 130px;
  text-transform: none;
}



/* Skills */

.skills-content{
  background-color: #151925;
  width:100%;
  height:740px;
}

.skills{
  font-size: 40px;
  color: white;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}


.skills span{
  color: #fea609;
  font-family:'Times New Roman', Times, serif;
}

.box-container{
  display: flex;
  gap:40px;
}

.box-container .box{
  color: #151925;
  border: 2px solid white;
  border-radius: 10px;
  gap:40px;
  height:150px;
  width:190px;
  margin-left:120px;
  text-align: center;
}

.box-container .box img{
  text-align: center;
  margin-top: 15px;
}


.box-container .box .icons-name{
  color:white;
  margin-top:40px;
  font-size: 25px;
  font-weight:549;
  font-family:'Times New Roman', Times, serif;
}



/*services*/

.service-container{
  display: flex;
  gap:40px;
}

.services-content{
  background-color: #323846;
  width:100%;
  height:740px; 
}


.services{
  font-size: 40px;
  color: #fea609;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}



.container{
  display: grid;
  gap:40px;
  background: #151925;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  gap:40px;
  height:380px;
  width:390px;
  margin-left:55px;
  margin-right:20px;
  text-align: center;
}

.container img{
  height:50px;
  width:60px;
  margin-left: 160px;
  text-align: center;
  margin-top: 20px;
}

.container .title{
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
  color: white;
}


.services-about{
  font-size: 17px; 
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  color: white;
  line-height: 24px;
  text-align: justify;
  text-transform: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 250px;
}



/* Projects */

.recent-works{
  background-color: #151925;
  width:100%;
  height:740px;

}

.works{
  font-size: 40px;
  color: #fea609;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.project-container{
  display: flex;
  gap:40px;
}


.container-block{
  display: grid;
  gap:40px;
  background: #151925;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  height:500px;
  width:500px;
  margin-left:150px;
  margin-right:20px;
  text-align: center;
}

.container-block img{
  height:150px;
  width:400px;
  margin-left: 50px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.container-block .title{
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
  color: white;
}


.projects-about{
  font-size: 17px; 
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  color: white;
  line-height: 24px;
  text-align: justify;
  text-transform: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 250px;
}

 
.container-block .live{
  margin-top: 420px;
  margin-left: 30px;
  position: absolute;
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}


.container-block .demo{
  margin-top: 420px;
  margin-left: 180px;
  position: absolute;
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}




/* Contact*/


.contact{
  background-color:  #323846;
  width:100%;
  height:740px;

}

.details{
  font-size: 40px;
  color: white;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.details span{
  color: #fea609;
  font-family:'Times New Roman', Times, serif;
}

.contact-wrapper{
  text-align: center;

}

input{
  color:white;
  border: 2px solid white;
  background-color: #323846;
  width:450px;
  height:50px;
  border-radius: 10px;
  padding: 12px;
}


textarea{
  color:white;
  border: 2px solid white;
  background-color: #323846;
  width:450px;
  height:130px;
  padding: 12px;
  border-radius: 10px;
}

.send{
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
  margin-right: 330px;
}


.contact-me{
  text-align: center;

}








/* media query */

@media only screen and (max-width:1200px){
  .name{
    color: #fea609;
    font-size: 27px;
    margin-left:30px;
  }
  
  nav{
    display: flex;
    position: fixed;
    width: 100%;
    color: white;
    background-color: #151925;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color:white;
    margin-right: 20px;
    background-color:  #151925;
    font-weight: 400;
    font-size: 20px;
  }
  
  nav ul li a:hover{
    color:#fea609; 
  }
  

  .close_icon {
    font-size: 25px;
    position: absolute;
    top:30px;
    right:250px;
    z-index:1000;
    color:#1D1C1C;
    cursor: pointer;
    display: none;
}

.toggle_icon {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}
  

  .header{
    background: #151925;
    width:1367px;
    height:800px;
  }
  
  .home{
    margin-left: 60px;
    position: relative;
  }
  
  .home-content{
    display:flex;
  }
  
  .heading{
    position: relative;
    color:white;
    font-size: 70px;
    margin-top:160px;
    font-weight: 530;
    font-family:'Times New Roman', Times, serif;
  }
  
  .portfolio{
    position: relative;
    color:#fea609;
    font-size: 25px;
    margin-top:5px;
    font-weight: 550;
    font-family:'Times New Roman', Times, serif;
  }
  
  .bio{
    position: relative;
    color:white;
    font-size: 20px;
    margin-top:20px;
    font-family:'Times New Roman', Times, serif;
    text-transform: none;
    line-height: 24px;
    text-align: justify;
  }

  .fab{
    font-size: 28px;

  }
  
  button{
    width:180px;
    font-size: 18px;
    height:45px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  .btn{
    font-size: 18px;
    width:120px;
    height:45px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  .img-box img{
    position: relative;
    border-radius:50%;
    width:340px;
    height: 340px;
    float:right;
    margin-top: 180px;
    margin-left: 200px;
    border-radius:5500px;
    box-shadow: 0 0 37px  30px #fea609;
    box-shadow: #fea609;
  }
  
  /* About */
  
  .about-content{
    background:#323846;
    width:100%;
    height:740px;
    display: flex;
    margin-top: 160px;
  }
  
  .img-box1 img{
    position: relative;
    border-radius:50%;
    width:340px;
    height: 340px;
    float:left;
    margin-top: 160px;
    margin-left:110px;
    border-radius:5500px;
    border: 10px solid #fea609;
  }
  
  .about{
    float:right;
    margin-left: 180px;
    margin-top: 110px;
  }
  
  .about-me{
    font-size: 45px;
    color: white;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  .about-me span{
    color: #fea609;
    font-family:'Times New Roman', Times, serif;
  }
  
  .tag{
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    margin-top: 12px;
  }
  
  .description{
    font-size: 22px;
    margin-top: 40px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    line-height: 32px;
    text-align: justify;
    justify-content: space-between;
    margin-right: 80px;
    text-transform: none;
  }
  
  
  
  /* Skills */
  
  .skills-content{
    background-color: #151925;
    width:100%;
    height:740px;
  }
  
  .skills{
    font-size: 45px;
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  .skills span{
    color: #fea609;
    font-family:'Times New Roman', Times, serif;
  }
  
  .box-container{
    display: flex;
    gap:35px;
  }
  
  .box-container .box{
    color: #151925;
    border: 2px solid white;
    border-radius: 10px;
    gap:35px;
    height:150px;
    width:190px;
    margin-left:98px;
    text-align: center;
  }
  
  .box-container .box img{
    text-align: center;
    margin-top: 15px;
  }
  
  
  .box-container .box .icons-name{
    color:white;
    margin-top:40px;
    font-size: 27px;
    font-weight:549;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  
  /*services*/
  
  .service-container{
    display: flex;
    gap:70px;
  }
  
  .services-content{
    background-color: #323846;
    width:100%;
    height:740px; 
  }
  
  
  .services{
    font-size: 45px;
    color: #fea609;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  
  .container{
    display: grid;
    gap:40px;
    background: #151925;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    gap:15px;
    height:380px;
    width:425px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
  }
  
  .container img{
    height:50px;
    width:60px;
    margin-left: 180px;
    text-align: center;
    margin-top: 20px;
  }
  
  .container .title{
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    color: white;
  }
  
  
  .services-about{
    font-size: 20px; 
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    line-height: 24px;
    text-align: justify;
    text-transform: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 250px;
  }
  
  
  
  /* Projects */
  
  .recent-works{
    background-color: #151925;
    width:100%;
    height:740px;
  
  }
  
  .works{
    font-size: 45px;
    color: #fea609;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .project-container{
    display: flex;
    gap:35px;
  }
  
  
  .container-block{
    display: grid;
    gap:10px;
    background: #151925;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    height:500px;
    width:600px;
    margin-left:35px;
    margin-right:20px;
    text-align: center;
  }
  
  .container-block img{
    height:160px;
    width:480px;
    margin-left: 60px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .container-block .title{
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    color: white;
  }
  
  
  .projects-about{
    font-size: 18px; 
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    line-height: 25px;
    text-align: justify;
    text-transform: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 250px;
  }
  
   
  .container-block .live{
    margin-top: 420px;
    margin-left: 30px;
    position: absolute;
    font-size: 18px;
    width:120px;
    height:45px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  
  .container-block .demo{
    margin-top: 420px;
    margin-left: 180px;
    position: absolute;
    font-size: 18px;
    width:120px;
    height:45px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  
  
  
  /* Contact*/
  
  
  .contact{
    background-color:  #323846;
    width:100%;
    height:740px;
  
  }
  
  .details{
    font-size: 45px;
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .details span{
    color: #fea609;
    font-family:'Times New Roman', Times, serif;
  }
  
  .contact-wrapper{
    text-align: center;
  
  }
  
  input{
    color:white;
    border: 2px solid white;
    background-color: #323846;
    width:470px;
    height:60px;
    border-radius: 10px;
    padding: 12px;
  }
  
  
  textarea{
    color:white;
    border: 2px solid white;
    background-color: #323846;
    width:470px;
    height:130px;
    padding: 12px;
    border-radius: 10px;
  }
  
  .send{
    font-size: 17px;
    width:110px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
    margin-right: 350px;
  }
  
  
  .contact-me{
    text-align: center;
  
  }
  
  .contact-me .fab{
    font-size: 35px; 
  }

  .contact-me .fas{
    font-size: 35px;
  }

}








@media only screen and (max-width:992px){
  
.name{
  color: #fea609;
  font-size: 25px;
  margin-left:25px;
}

nav{
  display: flex;
  position: fixed;
  width: 100%;
  color: white;
  background-color: #151925;
  margin: auto;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color:white;
  margin-right: 20px;
  background-color:  #151925;
  font-weight: 400;
  font-size: 18px;
}

nav ul li a:hover{
  color:#fea609; 
}

.close_icon {
  font-size: 25px;
  position: absolute;
  top:30px;
  right:250px;
  z-index:1000;
  color:#1D1C1C;
  cursor: pointer;
  display: none;
}

.toggle_icon {
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  display: none;
}

.header{
  background: #151925;
  width:1266px;
  height:800px;
}

.home{
  margin-left: 50px;
  position: relative;
}

.home-content{
  display:flex;
}

.heading{
  position: relative;
  color:white;
  font-size: 60px;
  margin-top:210px;
  font-weight: 530;
  font-family:'Times New Roman', Times, serif;
}

.portfolio{
  position: relative;
  color:#fea609;
  font-size: 22px;
  margin-top:5px;
  font-weight: 550;
  font-family:'Times New Roman', Times, serif;
}

.bio{
  position: relative;
  color:white;
  font-size: 18px;
  margin-top:20px;
  font-family:'Times New Roman', Times, serif;
  text-transform: none;
  line-height: 24px;
  text-align: justify;
}

button{
  width:170px;
  font-size: 17px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}

.btn{
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}

.img-box img{
  position: relative;
  border-radius:50%;
  width:340px;
  height: 340px;
  float:right;
  margin-top: 210px;
  margin-left: 170px;
  border-radius:5500px;
  box-shadow: 0 0 37px  30px #fea609;
  box-shadow: #fea609;
}

/* About */

.about-content{
  background:#323846;
  width:100%;
  height:740px;
  display: flex;
  margin-top: 200px;
}

.img-box1 img{
  position: relative;
  border-radius:50%;
  width:340px;
  height: 340px;
  float:left;
  margin-top: 160px;
  margin-left:110px;
  border-radius:5500px;
  border: 10px solid #fea609;
}

.about{
  float:right;
  margin-left: 160px;
  margin-top: 110px;
}

.about-me{
  font-size: 40px;
  color: white;
  font-family:'Times New Roman', Times, serif;
}


.about-me span{
  color: #fea609;
  font-family:'Times New Roman', Times, serif;
}

.tag{
  font-size: 26px;
  font-family:'Times New Roman', Times, serif;
  color: white;
  margin-top: 12px;
}

.description{
  font-size: 20px;
  margin-top: 40px;
  font-family:'Times New Roman', Times, serif;
  color: white;
  line-height: 30px;
  text-align: justify;
  justify-content: space-between;
  margin-right: 90px;
  text-transform: none;
}



/* Skills */

.skills-content{
  background-color: #151925;
  width:100%;
  height:740px;
}

.skills{
  font-size: 40px;
  color: white;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}


.skills span{
  color: #fea609;
  font-family:'Times New Roman', Times, serif;
}

.box-container{
  display: flex;
  gap:35px;
}

.box-container .box{
  color: #151925;
  border: 2px solid white;
  border-radius: 10px;
  gap:35px;
  height:150px;
  width:190px;
  margin-left:80px;
  text-align: center;
}

.box-container .box img{
  text-align: center;
  margin-top: 15px;
}


.box-container .box .icons-name{
  color:white;
  margin-top:40px;
  font-size: 25px;
  font-weight:549;
  font-family:'Times New Roman', Times, serif;
}



/*services*/

.service-container{
  display: flex;
  gap:35px;
}

.services-content{
  background-color: #323846;
  width:100%;
  height:740px; 
}


.services{
  font-size: 40px;
  color: #fea609;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}



.container{
  display: grid;
  gap:40px;
  background: #151925;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  gap:35px;
  height:380px;
  width:390px;
  margin-left:25px;
  margin-right:25px;
  text-align: center;
}

.container img{
  height:50px;
  width:60px;
  margin-left: 160px;
  text-align: center;
  margin-top: 20px;
}

.container .title{
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
  color: white;
}


.services-about{
  font-size: 17px; 
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  color: white;
  line-height: 24px;
  text-align: justify;
  text-transform: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 250px;
}



/* Projects */

.recent-works{
  background-color: #151925;
  width:100%;
  height:740px;

}

.works{
  font-size: 40px;
  color: #fea609;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.project-container{
  display: flex;
  gap:35px;
}


.container-block{
  display: grid;
  gap:35px;
  background: #151925;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  height:500px;
  width:500px;
  margin-left:70px;
  margin-right:20px;
  text-align: center;
}

.container-block img{
  height:150px;
  width:400px;
  margin-left: 50px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.container-block .title{
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
  color: white;
}


.projects-about{
  font-size: 17px; 
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  color: white;
  line-height: 24px;
  text-align: justify;
  text-transform: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 250px;
}

 
.container-block .live{
  margin-top: 420px;
  margin-left: 30px;
  position: absolute;
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}


.container-block .demo{
  margin-top: 420px;
  margin-left: 180px;
  position: absolute;
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
}




/* Contact*/


.contact{
  background-color:  #323846;
  width:100%;
  height:740px;

}

.details{
  font-size: 40px;
  color: white;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.details span{
  color: #fea609;
  font-family:'Times New Roman', Times, serif;
}

.contact-wrapper{
  text-align: center;

}

input{
  color:white;
  border: 2px solid white;
  background-color: #323846;
  width:450px;
  height:50px;
  border-radius: 10px;
  padding: 12px;
}


textarea{
  color:white;
  border: 2px solid white;
  background-color: #323846;
  width:450px;
  height:130px;
  padding: 12px;
  border-radius: 10px;
}

.send{
  font-size: 17px;
  width:110px;
  height:40px;
  border-radius: 30px;
  color: white;
  background: #fea609;
  margin-right: 330px;
}


.contact-me{
  text-align: center;

}

  
}















@media only screen and (max-width:768px){
  
  .name{
    color: #fea609;
    font-size: 25px;
    margin-left:25px;
  }
  
  nav{
    display: flex;
    position: fixed;
    width: 100%;
    color: white;
    background-color: #151925;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color:white;
    margin-right: 20px;
    background-color:  #151925;
    font-weight: 400;
    font-size: 18px;
  }
  
  nav ul li a:hover{
    color:#fea609; 
  }

  .fa-bars{
    display: none;
  }
  
  .header{
    background: #151925;
    width:1101px;
    height:800px;
  }
  
  .home{
    margin-left: 50px;
    position: relative;
  }
  
  .home-content{
    display:flex;
  }
  
  .heading{
    position: relative;
    color:white;
    font-size: 40px;
    margin-top:170px;
    font-weight: 530;
    font-family:'Times New Roman', Times, serif;
  }
  
  .portfolio{
    position: relative;
    color:#fea609;
    font-size: 20px;
    margin-top:5px;
    font-weight: 550;
    font-family:'Times New Roman', Times, serif;
  }
  
  .bio{
    position: relative;
    color:white;
    font-size: 16px;
    margin-top:20px;
    font-family:'Times New Roman', Times, serif;
    text-transform: none;
    line-height: 24px;
    text-align: justify;
  }
  
  button{
    width:170px;
    font-size: 17px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  .btn{
    font-size: 17px;
    width:110px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  .img-box img{
    position: relative;
    border-radius:50%;
    width:220px;
    height: 220px;
    float:right;
    margin-top: 190px;
    margin-left: 170px;
    border-radius:5500px;
    box-shadow: 0 0 30px  20px #fea609;
    box-shadow: #fea609;
  }
  
  /* About */
  
  .about-content{
    background:#323846;
    width:100%;
    height:740px;
    display: flex;
    margin-top: 200px;
  }
  
  .img-box1 img{
    position: relative;
    border-radius:50%;
    width:220px;
    height: 220px;
    float:left;
    margin-top: 160px;
    margin-left:90px;
    border-radius:5500px;
    border: 10px solid #fea609;
  }
  
  .about{
    float:right;
    margin-left: 90px;
    margin-top: 90px;
  }
  
  .about-me{
    font-size: 35px;
    color: white;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  .about-me span{
    color: #fea609;
    font-family:'Times New Roman', Times, serif;
  }
  
  .tag{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    margin-top: 12px;
  }
  
  .description{
    font-size: 19px;
    margin-top: 40px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    line-height: 30px;
    text-align: justify;
    justify-content: space-between;
    margin-right: 90px;
    text-transform: none;
  }
  
  
  
  /* Skills */
  
  .skills-content{
    background-color: #151925;
    width:100%;
    height:740px;
  }
  
  .skills{
    font-size: 35px;
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  .skills span{
    color: #fea609;
    font-family:'Times New Roman', Times, serif;
  }
  
  .box-container{
    display: flex;
    gap:30px;
  }
  
  .box-container .box{
    color: #151925;
    border: 2px solid white;
    border-radius: 10px;
    gap:30px;
    height:140px;
    width:150px;
    margin-left:80px;
    text-align: center;
  }
  
  .box-container .box img{
    text-align: center;
    margin-top: 15px;
  }
  
  
  .box-container .box .icons-name{
    color:white;
    margin-top:40px;
    font-size: 25px;
    font-weight:549;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  
  /*services*/
  
  .service-container{
    display: flex;
    gap:35px;
  }
  
  .services-content{
    background-color: #323846;
    width:100%;
    height:740px; 
  }
  
  
  .services{
    font-size: 35px;
    color: #fea609;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  
  .container{
    display: grid;
    gap:40px;
    background: #151925;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    gap:35px;
    height:380px;
    width:400px;
    margin-left:25px;
    margin-right:25px;
    text-align: center;
  }
  
  .container img{
    height:50px;
    width:60px;
    margin-left: 115px;
    text-align: center;
    margin-top: 20px;
  }
  
  .container .title{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
  }
  
  
  .services-about{
    font-size: 15px; 
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    line-height: 24px;
    text-align: justify;
    text-transform: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 250px;
  }
  
  
  
  /* Projects */
  
  .recent-works{
    background-color: #151925;
    width:100%;
    height:740px;
  
  }
  
  .works{
    font-size: 35px;
    color: #fea609;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .project-container{
    display: flex;
    gap:35px;
  }
  
  
  .container-block{
    display: grid;
    gap:35px;
    background: #151925;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    height:480px;
    width:400px;
    margin-left:80px;
    margin-right:20px;
    text-align: center;
  }
  
  .container-block img{
    height:120px;
    width:300px;
    margin-left: 50px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .container-block .title{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
  }
  
  
  .projects-about{
    font-size: 17px; 
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    line-height: 24px;
    text-align: justify;
    text-transform: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 250px;
  }
  
   
  .container-block .live{
    margin-top: 420px;
    margin-left: 30px;
    position: absolute;
    font-size: 17px;
    width:110px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  
  .container-block .demo{
    margin-top: 420px;
    margin-left: 180px;
    position: absolute;
    font-size: 17px;
    width:110px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  
  
  
  /* Contact*/
  
  
  .contact{
    background-color:  #323846;
    width:100%;
    height:740px;
  
  }
  
  .details{
    font-size: 40px;
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .details span{
    color: #fea609;
    font-family:'Times New Roman', Times, serif;
  }
  
  .contact-wrapper{
    text-align: center;
  
  }
  
  input{
    color:white;
    border: 2px solid white;
    background-color: #323846;
    width:450px;
    height:50px;
    border-radius: 10px;
    padding: 12px;
  }
  
  
  textarea{
    color:white;
    border: 2px solid white;
    background-color: #323846;
    width:450px;
    height:130px;
    padding: 12px;
    border-radius: 10px;
  }
  
  .send{
    font-size: 17px;
    width:110px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
    margin-right: 330px;
  }
  
  
  .contact-me{
    text-align: center;
  
  }
  
    
  }














  


@media only screen and (max-width:600px){
  
  .name{
    color: #fea609;
    font-size: 25px;
    margin-left:25px;
  }
  
  nav{
    display: flex;
    position: absolute;
    width: 100%;
    color: white;
    background-color: #151925;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    display: block;
  }
  
  nav ul li a:hover{
    color:#fea609; 
  }

  .name{
    margin-left:750px;
    position: fixed;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
  }

  .hamburger,
  .toggle-menu{
    display: block;
    top:35px;
    left:25px;
    position: fixed;
  }

  ul{
    float:left;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
    right: -300px;
    background:#151925;
    width: 210px;
    height: 320px;
    padding-top: 15px;
  }

  ul:hover{
    color: #fea609;
  }

  ul li{
    width: 100%;
  }
 
  ul li a{
    padding: 20px;
    font-size: 30px;
    width: 100%;

  }

  .header{
    background: #151925;
    width:921px;
    height:1030px;
  }
  
  .home{
    margin-left: 50px;
    position: relative;
  }
  
  .home-content{
    display:grid;
  }
  
  .heading{
    position: relative;
    color:white;
    font-size: 70px;
    margin-top:0px;
    margin-right: 30px;
    text-align: center;
    font-weight: 530;
    font-family:'Times New Roman', Times, serif;
  }
  
  .portfolio{
    position: relative;
    color:#fea609;
    font-size: 30px;
    margin-top:10px;
    margin-right: 50px;
    font-weight: 550;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .bio{
    position: relative;
    color:white;
    font-size: 25px;
    margin-top:20px;
    margin-right: 60px;
    font-family:'Times New Roman', Times, serif;
    text-transform: none;
    line-height: 29px;
    text-align:center;
  }
  
  button{
    width:176px;
    font-size: 20px;
    height:50px;
    border-radius: 30px;
    color:white;
    background: #fea609;
  }
  
  .btn{
    font-size: 20px;
    width:115px;
    height:50px;
    margin-right: 70px;
    border-radius: 30px;
    color:white;
    background: #fea609;
  }

  button:hover{
    width:176px;
    font-size: 20px;
    height:50px;
    border-radius: 30px;
    border: 3px solid #fea609;
    color: #fea609;
    background:#151925;
  }
  
  .btn:hover{
    font-size: 20px;
    width:115px;
    height:50px;
    margin-right: 70px;
    border-radius: 30px;
    border: 3px solid #fea609;
    color: #fea609;
    background:#151925;
  }
  
  .img-box img{
    position: relative;
    border-radius:50%;
    width:400px;
    height: 400px;
    text-align: center;  
    margin: 90px;
    margin-left: 10px;
    margin-top: 110px;
    margin-right: 250px;
    border-radius:5500px;
    box-shadow: 0 0 30px  30px #fea609;
    box-shadow: #fea609;
  }

  .home-content{
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-content: center;
}
.home{
    order: 2;
    text-align: center;
}
  
  /* About */
  
  .about-content{
    background:#323846;
    width:100%;
    height:1150px;
    display: grid;
    margin-top: 47px;
  }
  
  .img-box1 img{
    position: relative;
    border-radius:50%;
    width:400px;
    height: 400px;
    float:center;
    margin-top: 50px;
    margin-left:250px;
    border-radius:5500px;
    border: 10px solid #fea609;
  }
  
  .about{
    text-align: center;
    margin-top: 70px;
  }
  
  .about-me{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-right: 70px;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  .about-me span{
    color: #fea609;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .tag{
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    margin-top: 12px;
    margin-right: 70px;
  }
  
  .description{
    font-size: 25px;
    margin-top: 40px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    line-height: 30px;
    justify-content: space-between;
    text-transform: none;
    text-align: center;
  }

 

  
  

  /* Skills */
  
  .skills-content{
    background-color: #151925;
    width:100%;
    height:760px;
  }
  
  .skills{
    font-size: 50px;
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  .skills span{
    color: #fea609;
    font-family:'Times New Roman', Times, serif;
  }
  
  .box-container{
    display: flex;
    gap:30px;
  }
  
  .box-container .box{
    color: #151925;
    border: 2px solid white;
    border-radius: 10px;
    gap:30px;
    height:150px;
    width:160px;
    margin-left:38px;
    text-align: center;
  }
  
  .box-container .box img{
    text-align: center;
    margin-top: 15px;
  }
  
  
  .box-container .box .icons-name{
    color:white;
    margin-top:40px;
    font-size: 25px;
    font-weight:549;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  
  /*services*/
  
  .service-container{
    display: grid;
    gap:35px;
  }
  
  .services-content{
    background-color: #323846;
    width:100%;
    height:1500px; 
  }
  
  
  .services{
    font-size: 50px;
    color: #fea609;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  
  
  .container{
    display: grid;
    background: #151925;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    gap:20px;
    height:370px;
    width:570px;
    margin-left:170px;
    margin-right:25px;
    text-align: center;
  }
  
  .container img{
    height:50px;
    width:60px;
    margin-left: 250px;
    text-align: center;
    margin-top: 20px;
  }
  
  .container .title{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color: white;
  }
  
  
  .services-about{
    font-size: 22px; 
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    line-height: 29px;
    text-align: justify;
    text-transform: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 250px;
  }
  
  
  
  /* Projects */
  
  .recent-works{
    background-color: #151925;
    width:100%;
    height:800px;
  
  }
  
  .works{
    font-size: 50px;
    color: #fea609;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .project-container{
    display: flex;
    gap:35px;
  }
  
  
  .container-block{
    display: grid;
    gap:35px;
    background: #151925;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    height:555px;
    width:410px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
  }
  
  .container-block img{
    height:120px;
    width:350px;
    margin-left: 25px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .container-block .title{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color: white;
  }
  
  
  .projects-about{
    font-size: 21px; 
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    line-height: 29px;
    text-align: justify;
    text-transform: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 250px;
  }
  
   
  .container-block .live{
    margin-top: 490px;
    margin-left: 30px;
    position: absolute;
    font-size: 17px;
    width:110px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  
  .container-block .demo{
    margin-top: 490px;
    margin-left: 180px;
    position: absolute;
    font-size: 17px;
    width:110px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
  }
  
  
  
  
  /* Contact*/
  
  
  .contact{
    background-color:  #323846;
    width:100%;
    height:740px;
  
  }
  
  .details{
    font-size: 50px;
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .details span{
    color: #fea609;
    font-family:'Times New Roman', Times, serif;
  }
  
  .contact-wrapper{
    text-align: center;
  
  }
  
  input{
    color:white;
    border: 2px solid white;
    background-color: #323846;
    width:550px;
    height:70px;
    border-radius: 10px;
    padding: 12px;
  }
  
  
  textarea{
    color:white;
    border: 2px solid white;
    background-color: #323846;
    width:550px;
    height:130px;
    padding: 12px;
    border-radius: 10px;
  }
  
  .send{
    font-size: 20px;
    width:110px;
    height:40px;
    border-radius: 30px;
    color: white;
    background: #fea609;
    margin-right: 420px;
  }
  
  
  .contact-me{
    text-align: center;
  
  }
  
    
}